@import 'bootstrap';

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.disabled{
    pointer-events: none !important;
    cursor: none !important;
    user-select: none;
}

.form-control{
    background-color: #00000040;
    color: rgb(200, 200, 200);
}

.form-control:focus,
.form-control::selection{
    background-color:  #00000020;
    color:#fff;
}